.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #0f766e;
  font-weight: 600;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.navLinks li {
  position: relative;
}

.navLinks a,
.navLinks span {
  text-decoration: none;
  color: #0f766e;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

/* underline hover */
.navLinks a::after,
.navLinks span::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #0f766e;
  transition: width 0.25s ease;
}

.navLinks a:hover::after,
.navLinks span:hover::after {
  width: 100%;
}

/* Dropdown */
.dropdownMenu {
  position: absolute;
  top: 34px;
  left: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  padding: 12px 0;
  min-width: 220px;
  display: none;
}

.dropdownMenu li {
  padding: 10px 20px;
}

.dropdownMenu a {
  color: #333;
  font-size: 14px;
}

.dropdownMenu a:hover {
  color: #0f766e;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.arrow {
  font-size: 12px;
  margin-left: 4px;
}

/* Button */
.navBtn {
  background: #0f766e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.25s ease;
}

.navBtn:hover {
  background: #0d9488;
}
